* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
  
    background: transparent;
  
    font-family: inherit;
    
    text-decoration: none;
}
  
ol, ul, li {
    list-style:none;
    display:block;
}
  
table {
    border-collapse:collapse;
    border-spacing:0
}
  
a img {
    border: none
}
  
button, a {
    cursor: pointer;
    color: inherit
}
  
textarea {
    resize: none
}
  
button, input, textarea, select {
    appearance: none !important;
    -webkit-appearance: none !important;
    border-radius: 0
}

section {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.sec1 {
    background-color: white;
}

.sec2 {
    background-color: gray;
}

button {
    position: absolute;
}

.btn1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color: rgb(201, 183, 23);
}

.btn2, 
.btn3 {
    width: 200px;
    height: 60px;
    bottom: 40px;
}

.btn2 {
    right: 40px;
    background-color: #9dd355;
}

.btn3 {
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
}